@import "stylesheets/color";
@import "stylesheets/media";
@import "stylesheets/font";
@import "stylesheets/bootstrap";
@import "stylesheets/section";
@import "stylesheets/button";
@import "stylesheets/icon";


@import "components/components";



.jumbotron {
  width: 100vw;
  min-height: 70vh;
  overflow: hidden;
  margin: 0;
}