.card-btn {
  cursor: pointer;
  background: #e9e3d5;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-btn {
  cursor: pointer;
  background: #7b7b7b;
  color: #f6f6f6;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}