section {
  min-height: 30vh;
  &:nth-child(even) {
    background: #f6f6f6;
  }
  & > .container .row {
    margin: 15px 0px;

    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }

  .section-subheading {
    color: #ffc30e;
    > i {
      margin-right: 10px;
    }
  }
}

.section-description {
  display: flex;
  justify-content: space-between;
  & > div{
    &:first-child {
      width: 80%;
    }
    &:last-child {
      width: 20%;
    }
  }
}
