#company {
  .row > div > .container-fluid,
  .row > div > .container-fluid > .row,
  .row > div > .container-fluid > .row > div {
    padding: 0px;
  }



  .feature-card {
    padding: 15px;
    border: 2px solid rgba(200, 200, 200, 0.6);
    border-radius: 3px;
    height: 250px;

    .heading {
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0px;
    }

    .detail {
      font-size: 14px;
    }
  }

  .features {
    > .row:nth-child(2) > div {
      margin-bottom: 20px;
    }
    > .row:nth-child(2) > div:nth-child(even) .card {
      margin-left: 10px;
    }
    > .row:nth-child(2) > div:nth-child(odd) .card {
      margin-right: 10px;
    }
  }

  .about {
    
    .accordion .icon {
      float: right;
    }
    > .row:nth-child(2) > div {
      border: 2px solid rgba(200, 200, 200, 0.6);
      border-bottom: none;
      > .panel {
        border-top: 2px solid rgba(200, 200, 200, 0.6);
      }

    }

    > .row:nth-child(2) > div:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    > .row:nth-child(2) > div:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom: 2px solid rgba(200, 200, 200, 0.6);
    }
  }
}

/* Style the buttons that are used to open and close the accordion panel */
div.accordion {
  background: white;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  //border: 2px solid rgba(200, 200, 200, 0.6);
  outline: none;
  transition: all .6s ease-in-out;

  &:hover, &:focus {
    background-color: rgba(200, 200, 200, 0.6);
  }
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  margin: 0;
  padding: 18px;
  transition: all .6s ease-in-out;
  display: none;
}